<link rel="stylesheet" href="/css/allemployees.css">
<div class="container">
    <div class="row">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center mb-3">
                    <div class="mb-0">
                        <h5 class="card-title">Employee List <span class="text-muted fw-normal ms-2">(<%= totalEmployee %>)</span></h5>
                    </div>
                    <div class="ms-auto">
                        <a href="#" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Mobile Number</th>
                                <th>Created Date</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% employee.forEach(element => { %>
                            <tr class="align-middle">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                                        <div>
                                            <div class="h6 mb-0 lh-1"><%= element.name %></div>
                                        </div>
                                    </div>
                                </td>
                                <td><%= element.email %></td>
                                <td> <span class="d-inline-block align-middle">Male</span></td>
                                <td><span><%=element.phonenumber %></span></td>
                                <td><%= element.createdAt %></td>
                                <td class="text-end">
                                    <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars" aria-hidden="true"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="/admin/viewemployee">View Details</a>
                                            <a class="dropdown-item" href="#">Delete User</a>
                                        </div>
                                    </div>
                                    
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>