<link rel="stylesheet" href="/css/listperformancereviews.css">

<div class="container">
    <section class="panel">
                      <header class="panel-heading">
                          All Performance Review List
                          <span class="pull-right">
                              <button type="button" id="loading-btn" class="btn btn-warning btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                          </span>
                      </header>
                      <div class="panel-body">
                          <div class="row">
    
                              <div class="col-md-12">
                                  <div class="input-group"><input type="text" placeholder="Search Here" class="input-sm form-control"> <span class="input-group-btn">
                                  <button type="button" class="btn btn-sm btn-success"> Go!</button> </span></div>
                              </div>
                          </div>
                      </div>
                      <table class="table table-hover p-table">
                          <thead>
                          <tr>
                              <th>Reviewer Name</th>
                              <th>Performance Criteria</th>
                              <th>Reviewer Feedback</th>
                              <th>Overall Rating</th>
                              <th>Feedback Status</th>
                              <th>Custom</th>
                          </tr>
                          </thead>
                          <tbody>
                            <% performanceReviews.forEach(element => { %>
                          <tr>
                              <td class="p-name">
                                  <a href="project_details.html"><%=element.reviewername %></a>
                                    <input type="hidden" name="reviewerid" value="<%= element.reviewerid %>">
                                  <br>
                                  <small>Created <%= formatCreatedAt(element.createdAt) %></small>
                              </td>
                              <td>
                                <span class="label label-info"><%= element.performancecriteria %></span>
                              </td>
                              <td>
                                <span class="text-info"><%= element.feedback %></span>
                              </td>
                              <td>
                                <div class="col-xs-20 col-sm-7 emphasis">
                                    <p class="ratings">
                                      <a><%= element.rating %></a>
                                      <a href="#"><span class="fa fa-star <% if (element.rating >= 1) { %>filled<% } %>"></span></a>
                                      <a href="#"><span class="fa fa-star <% if (element.rating >= 2) { %>filled<% } %>"></span></a>
                                      <a href="#"><span class="fa fa-star <% if (element.rating >= 3) { %>filled<% } %>"></span></a>
                                      <a href="#"><span class="fa fa-star <% if (element.rating >= 4) { %>filled<% } %>"></span></a>
                                      <a href="#"><span class="fa fa-star <% if (element.rating >= 5) { %>filled<% } else { %>unfilled<% } %>"></span></a>
                                    </p>
                                  </div>
                              </td> 
                              <td>
                                <% if (element.feedbackstatus === 'Submitted') { %>
                                  <span  class="label label-success"><%= element.feedbackstatus %></span>
                                  <% } else { %>
                                    <span class="label label-danger"><%= element.feedbackstatus %></span>
                                    <% }%>
                              </td>
                              <td>
                              <% if (element.feedbackstatus === 'Submitted') { %>
                                <a href="project_details.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#feedbackModal" onclick="openReviewPopup('<%= JSON.stringify(element) %>')" disabled><i class="fa fa-pencil"></i> Submit Feedback</a>
                            <% } else { %>
                                <a href="project_details.html" class="btn btn-primary btn-xs" disabled><i class="fa fa-folder"></i> View </a>
                                <a href="#" class="btn btn-info btn-xs" data-toggle="modal" data-target="#feedbackModal" onclick="openReviewPopup('<%= JSON.stringify(element) %>')"><i class="fa fa-pencil"></i> Submit Feedback</a>
                            <% } %>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                           </td>
                          </tr>
                          <% }) %>
                          </tbody>
                      </table>
                  </section>
    </div>

<!-- Feedback Modal -->

<div class="overlay" id="overlay">
    <div class="overlay-content">
        <div class="popup">
            <button class="close-btn" onclick="closeReviewPopup()">&times;</button>
            <h2>Performance Review</h2>
            <form action="/employee/submitfeedback?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="employeeName">Reviewer Name:</label>
                    <input type="text" id="reviewername" name="reviewername" class="form-control" disabled required>
                    <input type="hidden" id="reviewerid" name="reviewerid" class="form-control" >
                    <input type="hidden" id="employeeid" name="employeeid" class="form-control" >
                </div>

                <div class="form-group">
                    <label for="performanceCriteria">Performance Criteria:</label>
                    <input type="text" id="performanceCriteria" name="performanceCriteria" class="form-control" disabled required>
                </div>

                <div class="form-group">
                    <label for="feedback">Feedback:</label>
                    <textarea id="feedback" name="feedback" value="Good one" class="form-control"  disabled required></textarea>
                </div>
                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <input type="number" id="rating" name="rating" value="5" class="form-control" min="1" max="5" disabled required>
                </div>
                <div class="form-group">
                    <label for="feedback">Employee Feedback:</label>
                    <textarea id="employeefeedback" name="employeefeedback" value="Good one" class="form-control"  required></textarea>
                </div>

                <div class="form-group">
                    <button type="submit">Submit Feedback</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Warning Modal -->

<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
           <div class="model-header">
              <div class="modal-body">
                <p>
                  Are you sure? you want to<b class="fw-bold">delete<br/></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/projects/edit?_method=DELETE" method="POST" class="position-relative">
                  <button type="submit" class="btn btn-primary">Yes, Delete Project</button>
                </form>
              </div>
       </div>

    </div>
  </div>

<script src="/js/employee.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
